In [1]:
#   Author: Rahul ArvindKumar Thakur
#   Email: rahulkumarr2080@gmail.com
#   Date: 31st July 2021

In [2]:
#importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# 1)Import a 311 NYC service request. 
customer_service_request=pd.read_csv('DataSets/311_Service_Requests_from_2010_to_Present.csv', low_memory=False)

#Giving low Memory Warning so put low_memory=False above

In [4]:
#Check CSV Imported or not, This code will help to view top 5 Rows
customer_service_request.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01-01-16 0:55,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01-01-16 1:26,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01-01-16 4:51,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"
3,32305098,12/31/2015 11:57:46 PM,01-01-16 7:43,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)"
4,32306529,12/31/2015 11:56:58 PM,01-01-16 3:24,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)"

In [5]:
# Check Number of Rows(observations) & Number of Columns(Variables)
customer_service_request.shape

(300698, 53)

In [6]:
#This means this Dataset has 300698 Rows(observations) and 53 Columns(Variables)

In [7]:
###############################################################################################################
#            Data Preprocessing  - Cleaning up the data and make it ready for building Models                 #
###############################################################################################################

In [8]:
# Step 1 - Check the duplicate columns or Variables with duplicate name
customer_service_request.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Park Facility Name', 'Park Borough',
       'School Name', 'School Number', 'School Region', 'School Code',
       'School Phone Number', 'School Address', 'School City', 'School State',
       'School Zip', 'School Not Found', 'School or Citywide Complaint',
       'Vehicle Type', 'Taxi Company Borough', 'Taxi Pick Up Location',
       'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp',
       'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction',
       'Ferry Terminal Name', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [9]:
# If Columns are less we can do from the above code if  columns are mnay this code helps to identify the Duplicate columns

customer_service_request = customer_service_request.loc[:,~customer_service_request.columns.duplicated()]

In [10]:
#No Duplicate Found We will go to Step 2

In [11]:
#Step 2 - Check the Zero Columns and Columns that have single Value - Check Min and Max if they are 0 or NaN it 
# indicate Missing Value
customer_service_request.describe()

,Unique Key,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),School or Citywide Complaint,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Garage Lot Name,Latitude,Longitude
count,3.006980e+05,298083.000000,2.971580e+05,297158.000000,0.0,0.0,0.0,0.0,0.0,297158.000000,297158.000000
mean,3.130054e+07,10848.888645,1.004854e+06,203754.534416,NaN,NaN,NaN,NaN,NaN,40.725885,-73.925630
std,5.738547e+05,583.182081,2.175338e+04,29880.183529,NaN,NaN,NaN,NaN,NaN,0.082012,0.078454
min,3.027948e+07,83.000000,9.133570e+05,121219.000000,NaN,NaN,NaN,NaN,NaN,40.499135,-74.254937
25%,3.080118e+07,10310.000000,9.919752e+05,183343.000000,NaN,NaN,NaN,NaN,NaN,40.669796,-73.972142
50%,3.130436e+07,11208.000000,1.003158e+06,201110.500000,NaN,NaN,NaN,NaN,NaN,40.718661,-73.931781
75%,3.178446e+07,11238.000000,1.018372e+06,224125.250000,NaN,NaN,NaN,NaN,NaN,40.781840,-73.876805
max,3.231065e+07,11697.000000,1.067173e+06,271876.000000,NaN,NaN,NaN,NaN,NaN,40.912869,-73.700760

In [12]:
# Another way to find Null values. We have used ascending=False so that we will get most null value first

customer_service_request.isnull().sum().sort_values(ascending=False)

School or Citywide Complaint      300698
Vehicle Type                      300698
Taxi Company Borough              300698
Taxi Pick Up Location             300698
Garage Lot Name                   300698
Ferry Direction                   300697
Ferry Terminal Name               300696
Road Ramp                         300485
Bridge Highway Segment            300485
Bridge Highway Name               300455
Bridge Highway Direction          300455
Landmark                          300349
Intersection Street 2             257336
Intersection Street 1             256840
Cross Street 2                     49779
Cross Street 1                     49279
Street Name                        44410
Incident Address                   44410
Descriptor                          5914
X Coordinate (State Plane)          3540
Latitude                            3540
Longitude                           3540
Y Coordinate (State Plane)          3540
Location                            3540
Address Type                        2815
Incident Zip                        2615
City                                2614
Resolution Action Updated Date      2187
Facility Type                       2171
Closed Date                         2164
Location Type                        131
Due Date                               3
School Region                          1
School Code                            1
School Zip                             1
Borough                                0
Agency                                 0
Agency Name                            0
Complaint Type                         0
Status                                 0
School Not Found                       0
Resolution Description                 0
Community Board                        0
School State                           0
School City                            0
School Address                         0
School Phone Number                    0
School Number                          0
School Name                            0
Park Borough                           0
Park Facility Name                     0
Created Date                           0
Unique Key                             0
dtype: int64

In [13]:
# Missing Value Treatment - 

# Since, School or Citywide Complaint, Vehicle Type, Taxi Company Borough, Taxi Pick Up Location, Garage Lot Name,
# Ferry Direction,Ferry Terminal Name, Road Ramp, Bridge Highway Segment, Bridge Highway Name, Bridge Highway Direction,
# Landmark, Intersection Street 2, Intersection Street 1 has more than 70% and some has 100 % Null Values so these data are 
# of no use. We have to drop all these columns

customer_service_request.drop(['School or Citywide Complaint', 'Vehicle Type', 'Taxi Company Borough', 
                                  'Taxi Pick Up Location', 'Garage Lot Name', 'Ferry Direction', 'Ferry Terminal Name',
                                  'Road Ramp', 'Bridge Highway Segment', 'Bridge Highway Name', 'Bridge Highway Direction',
                                  'Landmark', 'Intersection Street 2', 'Intersection Street 1'], axis = 1, inplace=True)

In [14]:
# Drop Unspecified Data Columns and single data columns as they are not use for us
customer_service_request.drop(['Agency','Park Facility Name','School Name','School Number',
                                 'School Region','School Code','School Phone Number',
                                 'School Address', 'School City','School State', 'School Zip',
                                 'School Not Found'], axis = 1, inplace=True)

In [15]:
#Check whether data droped or not
customer_service_request.shape

(300698, 27)

In [17]:
single_value_columns = []
for i in customer_service_request.columns:
    if len(customer_service_request[i].value_counts()) ==1:
        single_value_columns.append(i)
print('Following columns has single value ', single_value_columns)

Following columns has single value  ['Facility Type']

In [18]:
# Remove ID Columns as they are unique and not usable in our Dataset
customer_service_request.drop(['Unique Key'], axis = 1, inplace=True)

In [20]:
customer_service_request.isnull().sum().sort_values(ascending=False)

Cross Street 2                    49779
Cross Street 1                    49279
Incident Address                  44410
Street Name                       44410
Descriptor                         5914
Location                           3540
Longitude                          3540
Latitude                           3540
Y Coordinate (State Plane)         3540
X Coordinate (State Plane)         3540
Address Type                       2815
Incident Zip                       2615
City                               2614
Resolution Action Updated Date     2187
Facility Type                      2171
Closed Date                        2164
Location Type                       131
Due Date                              3
Resolution Description                0
Status                                0
Community Board                       0
Borough                               0
Park Borough                          0
Complaint Type                        0
Agency Name                           0
Created Date                          0
dtype: int64